  
$header-color: rgb(201, 150, 235);
$section-color:rgb(68, 2, 5);
body{
    background-color:#820000;
    text-align: center;
}

header{
  color: $section-color;
        font-family: fantasy;
        font-size: 55px;
    
}
section{
    h3{
        color: $section-color;
        font-family: fantasy;
        font-size: 50px;
    
    }
   
}

button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.b1 span:after {
  content: '+';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.b2 span:after {
  content: '-';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


button:hover span {
  padding-right: 20px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}